.modal-parent{
    transition: 0.5s;
    display: flex;
}

.modal{
    background-color: rgba(0, 0, 0, 0.2) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-duration: 0.5s;
    animation-name: popUp;
    transition: 0.5s;

}

.modal-wrapper{
    background-color: #fff;
    padding: 1rem;
    border-radius: 2rem;

    display: inline-block;
    color: black;

}

.modal-header{
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
}

@keyframes popUp {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}